In [12]:
import pandas as pd
from sklearn.datasets import load_iris
load_iris = load_iris()
iris = pd.DataFrame(load_iris.data,columns=load_iris.feature_names)
iris['class'] = load_iris.target
iris['class'] = iris['class'].map({0:'setosa',1:'versicolor',
                                  2:'virginica'})
iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [13]:
from sklearn.model_selection import train_test_split
import numpy as np
x_train,x_test,y_train,y_test = train_test_split(iris.drop(columns='class'),iris['class'],test_size = 0.3
                                                 ,stratify=iris['class'],random_state=1004)
print(x_train.shape,x_test.shape)
print(y_train.shape,y_test.shape)

(105, 4) (45, 4)
(105,) (45,)

In [15]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
std_scaler.fit(x_train)
x_train_sc = std_scaler.transform(x_train)
x_test_sc = std_scaler.transform(x_test)

In [16]:
print(x_train_sc.min())
print(x_train_sc.max())
print(x_train_sc.mean())
print(x_train_sc.std())

-2.309594821676532
2.9385376856497647
8.152209066533292e-16
1.0

In [17]:
print(x_test_sc.min())
print(x_test_sc.max())
print(x_test_sc.mean())
print(x_test_sc.std())

-1.7872303359296526
2.553861193840001
0.01471877459388108
0.9827190785436151

In [19]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
mms.fit(x_train)
x_train_mms = mms.transform(x_train)
x_test_mms = mms.transform(x_test)

In [39]:
print(x_train_mms.min())
print(x_train_mms.max())
print(x_train_mms.mean())
print(x_train_mms.std())

0.0
1.0
0.4537445204070328
0.26511206964640216

In [40]:
print(x_test_mms.min())
print(x_test_mms.max())
print(x_test_mms.mean())
print(x_test_mms.std())

0.0
1.0588235294117647
0.45792137476459516
0.2651555348290172

In [21]:
from sklearn.preprocessing import MaxAbsScaler
mas = MaxAbsScaler()
mas.fit(x_train)
x_train_mas = mas.transform(x_train)
x_test_mas = mas.transform(x_test)

In [41]:
print(x_train_mas.min())
print(x_train_mas.max())
print(x_train_mas.mean())
print(x_train_mas.std())

0.04
1.0
0.6184644806539217
0.2394754629121889

In [42]:
print(x_test_mas.min())
print(x_test_mas.max())
print(x_test_mas.mean())
print(x_test_mas.std())

0.04
1.025974025974026
0.6219945103205973
0.23848510798618794

In [22]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()
rs.fit(x_train)
x_train_rs = rs.transform(x_train)
x_test_rs = rs.transform(x_test)

In [43]:
print(x_train_rs.min())
print(x_train_rs.max())
print(x_train_rs.mean())
print(x_train_rs.std())

-1.6666666666666665
2.3333333333333335
-0.031608669108669114
0.6127040065585962

In [44]:
print(x_test_rs.min())
print(x_test_rs.max())
print(x_test_rs.mean())
print(x_test_rs.std())

-1.1666666666666667
1.6666666666666665
-0.02337606837606837
0.5877538137864962

In [23]:
pd.DataFrame(x_train_sc).head()

          0         1         2         3
0 -0.174825 -1.216234  0.705573  1.071520
1  0.569362  0.533144  1.273276  1.733342
2  0.569362 -1.216234  0.705573  0.939156
3 -1.167074  0.095799 -1.281386 -1.443401
4 -0.422887 -1.434906 -0.032440 -0.252122

In [35]:
x_original = std_scaler.inverse_transform(x_train_sc)
pd.DataFrame(x_original).head()

     0    1    2    3
0  5.7  2.5  5.0  2.0
1  6.3  3.3  6.0  2.5
2  6.3  2.5  5.0  1.9
3  4.9  3.1  1.5  0.1
4  5.5  2.4  3.7  1.0

In [36]:
x_train.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
113                5.7               2.5                5.0               2.0
100                6.3               3.3                6.0               2.5
146                6.3               2.5                5.0               1.9
9                  4.9               3.1                1.5               0.1
81                 5.5               2.4                3.7               1.0